@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4338ca;
  --color-primary-dark: #3730a3;
  --color-text-muted: rgba(0, 0, 0, 0.6);
  --color-bg-purple: #4338ca;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-londrina {
  font-family: "Londrina Solid", cursive;
}

.font-baloo {
  font-family: "Baloo Bhai 2", cursive;
}
